<style>
  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    width: 100%;
    border: 2px solid #1c1c1c;
    background-color: #121212;
    border-radius: 0.375rem;
  }

  .input-container:focus-within {
    border-color: #f0f0f0;
  }

  .input-container.invalid {
    border-color: #ff4b5c;
  }

  .error-message {
    color: #ff4b5c;
    font-weight: bold;
  }
</style>
<div
  class="bg-neutral-950 text-neutral-200 min-h-[100dvh] grid place-items-center p-8">
  <div class="bg-neutral-900 rounded-md py-8 px-4">
    <h2 class="text-4xl font-bold text-neutral-200 text-center">
      Welcome <br />
      Back
    </h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="p-4 flex gap-6 flex-col">
      <div class="flex flex-col gap-1">
        <label for="name" class="block text-neutral-200">Name</label>
        <div
          [ngClass]="{ 'input-container': true, invalid: isInvalid('name') }">
          <input
            type="text"
            id="name"
            formControlName="name"
            class="w-full bg-transparent border-none outline-none" />
        </div>
        <p
          *ngIf="
            loginForm.get('name')?.hasError('required') &&
            loginForm.get('name')?.touched
          "
          class="error-message">
          Name is required
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <label for="password" class="block text-neutral-200">Password</label>
        <div
          [ngClass]="{
            'input-container': true,
            invalid: isInvalid('password'),
          }">
          <input
            type="{{ hidePassword ? 'password' : 'text' }}"
            id="password"
            formControlName="password"
            class="w-full bg-transparent border-none outline-none" />
          <span
            class="cursor-pointer"
            [innerHTML]="hidePassword ? eyeOpenIcon : eyeClosedIcon"
            (click)="togglePasswordVisibility($event)"
            (keydown)="togglePasswordVisibility($event)"
            tabindex="0"></span>
        </div>
        <p
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
          class="error-message">
          Password is required
        </p>
      </div>
      <button type="submit" class="w-full p-2 text-xl btn btn-primary">
        Login
      </button>
      <p class="text-neutral-400">
        Don't have an account?
        <a
          routerLink="/auth/register"
          class="text-neutral-200 text-center font-bold cursor-pointer">
          Register
        </a>
      </p>
    </form>
  </div>
</div>
