<div
  class="bg-neutral-950 text-neutral-200 min-h-[100dvh] grid place-items-center p-8"
>
  <section class="max-w-screen-2xl">
    <div class="flex items-center flex-col lg:flex-row">
      <div class="lg:w-1/2 flex flex-col gap-6">
        <h1 class="text-3xl md:text-6xl lg:text-8xl font-bold text-balance">
          Authenticacion <br />
          Service
        </h1>
        <p class="text-pretty text-[#A6ADBB]">
          Craft a powerful web application using Angular and Spring Boot.
          Implement seamless user registration and authentication with robust
          features tailored for secure management.
        </p>
      </div>
      <img
        src="/assets/homepage.png"
        alt="Authentication"
        class="w-96 mx-auto hidden lg:flex"
      />
    </div>
    <a
      routerLink="/users"
      class="my-6 lg:mt-0 flex items-center gap-2 w-fit px-8 py-1 text-xl lg:text-3xl btn btn-primary"
    >
      Try
      <span [innerHTML]="loginIcon"></span>
    </a>
    <img
      src="./homepage.png"
      alt="Authentication"
      class="w-96 mx-auto lg:hidden"
    />
  </section>
</div>
